* {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-family: "Tahoma";
}
html {
	background-color: #fff9da;
	margin-left: 20px;
}
body {
	margin-inline: 30px;
}
header {
	width: 100%;
	padding: 20px 0;
	height: 410px;
	padding-top: 0px;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 0px;
    margin-left: 15px;
}
.photo {
	margin: 0px 0;
	margin-top: 16px;
	float: left;
}
.photo>div {
	padding: 10px 10px 10px 0;
	background-color: #212841;
	border-radius: 0 45% 45% 0;
}
.photo>div>div {
	padding: 10px;
	background-color: #ffa800;
	border-radius: 0 45% 45% 0;
}
.photo img {
	border-radius: 0 45% 45% 0;
}
h1, h2 {
	font-size: 35px;
}
h1 {
	margin-top: 37px;
}
.contact {
	margin: 40px 20px;
	margin-left: 0px;
    margin-right: 90px;
}
span, a {
	color: #212841;
	text-decoration: none;
}
a:hover, a:focus, a:visited {
	color: #5172e8;
	text-decoration: none;
}
.personal_info {
	padding: inherit;
	width: max-content;
	float: right;
	border-top-width: 16px;
	border-top-color: #ffc935;
	border-top-style: solid;
	border-right-width: 16px;
	border-right-color: #ffc935;
	border-right-style: solid;
}
.personal_info p {
	font-size: 30px;
}
main {
	padding: 15px;
}
.maintopborder {
	height: 23px;
    background-color: #ffc935;
    margin: 30px 0;
}
.sidebar {
    float: left;
    width: 25%;
    padding-right: 20px;
}
.mainbody {
    width: 73%;
    float: left;
   
}
h3 {
	background-color: #ffc935;
	text-align: center;
}
section>div>div {
	margin-bottom: 20px;
}
section>div>div>p {
	margin-inline: 20px;
}
.mainbody>section>div>div * {
	margin-left: 40px; 
}
.mainbody>section>div h3 {
	margin-left: 0;
}

@media (max-width: 905px) {
	header {
		height: 500px;
	}
	.contact {
		margin: 200px 20px;
	}
	.contact p {
		text-align: left;
	}
	main>div {
		display: block;
	}
	section {
		width: auto;
	}
}
@media (max-width: 755px) {
	.contact {
		margin: 150px 20px;
	}
}
@media (max-width: 746px) {
	.contact {
		margin: 90px 20px;
	}
}
@media (max-width: 610px) {
	.photo {
		float: none;
		display: flex;
		justify-content: center;
	}
	.photo>div {
		border-radius: 0;
		padding: 10px;
	}
	.photo>div>div {
		border-radius: 0;
	}
	.photo img {
		border-radius: 0;
	}

	header {
		height: 800px;
	}
}
@media (max-width: 500px) {
	.contact p {
		font-size: 20px;
		text-align: center;
	}
}
@media (max-width: 426px) {
	header {
		height: 900px;
	}
}
